$message-box-width: 450px;
$message-box-bottom: 200px;

.container{
    position: relative;
    .errorMessage{
        position: fixed;
        bottom: $message-box-bottom;
        margin: auto !important;
        width: $message-box-width;
    }
}

